<div class="container has-text-centered">
  <table class="table is-narrow is-fullwidth">
    <thead>
      <tr>
        <th>Date</th>
        <th>In</th>
        <th>Out</th>
        <th>Diff</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </tfoot>
    <tbody>
      <tr *ngFor="let clocker of (clockers$ | async)">
        <td>{{ clocker.timeIn | date: 'yyyy-MM-dd' }}</td>
        <td>{{ clocker.timeIn | date: 'HH:mm' }}</td>
        <td>{{ clocker.timeOut | date: 'HH:mm' }}</td>
        <td>
          {{ clocker.timeOut - clocker.timeIn | date: 'HH:mm':'+0000' }}
        </td>
        <td>
          <div class="buttons">
            <a
              [routerLink]="['/clocker/edit', clocker.id]"
              class="button is-small is-primary"
            >
              <span class="icon">
                <i class="fas fa-edit"></i>
              </span>
            </a>
            <a
              [routerLink]="['/clocker/delete', clocker.id]"
              class="button is-small is-danger"
            >
              <span class="icon">
                <i class="fas fa-trash-alt"></i>
              </span>
            </a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
