<p>
  list works!
</p>

<div>
  <table class="table">
    <thead>
      <tr>
        <th>Date in</th>
        <th>Time in</th>
        <th>Time out</th>
        <th>Diff</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </tfoot>
    <tbody>
      <tr *ngFor="let clocker of (clockers$ | async)">
        <td>{{ clocker.timeIn | date: 'yyyy-MM-dd' }}</td>
        <td>{{ clocker.timeIn | date: 'HH:mm' }}</td>
        <td>{{ clocker.timeOut | date: 'HH:mm' }}</td>
        <td>
          {{ clocker.timeOut - clocker.timeIn | date: 'HH:mm':'+0000' }}
        </td>
        <td><a [routerLink]="['/clocker/edit', clocker.id]">Edit</a></td>
      </tr>
    </tbody>
  </table>
</div>
