<div class="container has-text-centered">
  <div *ngIf="(current$ | async) as current; else starting">
    <div *ngIf="current.checkedIn">
      <h3 class="title">Check OUT</h3>
      <p>You are IN!</p>
      <div>
        <p>IN: {{ current.timeIn | date: 'HH:mm:ss' }}</p>
        <p>CURRENT: {{ currentTime | date: 'HH:mm:ss' }}</p>
        <p>
          DIFF: {{ currentTime - current.timeIn | date: 'HH:mm:ss':'+0000' }}
        </p>
        <button
          class="button is-primary"
          (click)="onCheckOut(current.timeIn)"
          [ngClass]="{ 'is-loading': loading }"
          [disabled]="loading"
        >
          <span class="icon is-small">
            <i class="fas fa-sign-in-alt"></i>
          </span>
          <span>Check OUT</span>
        </button>
      </div>
    </div>

    <div *ngIf="!current.checkedIn">
      <h3 class="title">Check IN</h3>
      <div>
        <p>You are OUT!</p>
        <p>CURRENT: {{ currentTime | date: 'HH:mm:ss' }}</p>
        <button
          class="button is-primary"
          (click)="onCheckIn()"
          [ngClass]="{ 'is-loading': loading }"
          [disabled]="loading"
        >
          <span class="icon is-small">
            <i class="fas fa-sign-out-alt"></i>
          </span>
          <span>Check IN</span>
        </button>
      </div>
    </div>

    <a [routerLink]="['/clocker/list']" class="button">List</a>
  </div>

  <ng-template #starting>
    Loading...
  </ng-template>
</div>
