<div>
  <div *ngIf="currentClocker">
    <p>You are IN!</p>
    <button
      class="button is-primary is-large"
      (click)="onCheckOut()"
      [ngClass]="{ 'is-loading': loading }"
      [disabled]="loading"
    >
      Check OUT
    </button>
  </div>
  <div *ngIf="!currentClocker">
    <p>You are OUT!</p>
    <button
      class="button is-primary is-large"
      (click)="onCheckIn()"
      [ngClass]="{ 'is-loading': loading }"
      [disabled]="loading"
    >
      <span class="icon is-large">
        <i-log-in></i-log-in>
      </span>
      Check IN
    </button>
  </div>
</div>
