<div class="container has-text-centered">
  <div class="">
    <h3 class="title">Login</h3>
    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
      <div class="field">
        <p class="control has-icons-left has-icons-right">
          <input
            class="input is-large"
            type="email"
            placeholder="Email"
            formControlName="email"
            [ngClass]="{ 'is-danger': !isEmailValid }"
          />
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
        </p>
      </div>

      <div class="field">
        <p class="control has-icons-left">
          <input
            class="input is-large"
            type="password"
            placeholder="Password"
            formControlName="password"
            [ngClass]="{ 'is-danger': !isPasswordValid }"
          />
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
      </div>

      <div class="field">
        <p class="control">
          <button
            type="submit"
            class="button is-success is-large is-block is-fullwidth"
            [ngClass]="{ 'is-loading': submitting }"
          >
            Login
          </button>
        </p>
      </div>
    </form>

    <p class="has-text-grey">
      <a [routerLink]="['/user/register']" routerLinkActive="active">Sign Up</a>
      &nbsp;-&nbsp;
      <a [routerLink]="['/user/register']" routerLinkActive="active"
        >Forgot Password</a
      >
    </p>
  </div>
</div>
